.App{
  background-color: #787878;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navbar{
  display: flex;
  justify-content: space-between;
  background-color: #101010;
  color: white;
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 20px;
  width:100%;
  box-sizing: border-box;
  align-items: center;
}
.title{
  font-size: 25px;
  cursor: pointer;
}
.navbar-right{
  display: flex;
  gap: 20px;
}
.nav-item{
  cursor: pointer;
}
.content{
  box-sizing: border-box;
  padding: 20px;
  background-color: #282828;
  color: white;
  width: 90%;
  min-height:100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home{
  align-self: flex-start;
  padding: 20px;
  padding-top:10px ;
}
.main-image{
  width: 400px;
  height: auto;
}
.home-title{
  text-align: center;
  font-size: 30px;
  margin-bottom: 30px;
}
.summary{
  display: flex;
  gap: 20px;
  font-size: 19px;
  font-weight: 400;
  line-height: 27px;
  align-items:flex-start;
}
.summary p::first-letter {
  font-size: 40px;
  font-weight: 600;
}
.home-characters{
  margin-top: 30px;
  font-size: 23px;
}
.home-main-characters{
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}
.card-main{
  display: flex;
  flex-direction: column;
  border: 2px solid #3e3e3e;
  width: 300px;
  align-items: center;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 10px;
  gap:7px;
}
.card-main:hover{
  border: 2px solid #101010;
}
.card-top{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}
.card-img{
  width: 200px;
  height: 200px;
  border-radius: 5px;
}